<div class="title4"><p><strong>STUDENT'S NAME</strong></p><br></div>

<div class="c">
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    EMAIL ID &nbsp; &nbsp; <input type="text" id="emailid" name="emailid">&nbsp;
    <label for="cap">Change Account Password</label><br><br>
    MOBILE/TELEPHONE NO &nbsp; &nbsp; <input type="text" id="mtn" name="mtn">&nbsp;
    <label for="cn">Change Number?</label><br><br>
</div>
    