<div class="title5"><p><strong>TRANSACTION DETAILS</strong></div>

  <table class="x">
      <tr>
        <th>Serial No</th>
        <th>Transaction ID</th> 
        <th>Block Number</th>
        <th>Recipient Address</th>
      </tr>
      <tr>
          <td>1</td>
          <td></td> 
          <td></td>
          <td></td>
        </tr>
        <tr>
            <td>2</td>
            <td></td> 
            <td></td>
            <td></td>
          </tr>
          <tr>
              <td>3</td>
              
              <td></td>
              <td></td> 
              <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td></td> 
                <td></td>
                <td></td>
              </tr>
              <tr>
                  <td>5</td>
                  <td></td> 
                  <td></td>
                  <td></td>
                </tr>
                </table>
                