<!--html for navbar-->
<div class="idnavbar">
<div class="titlenavbar"><strong><p>Securecerts</p> </strong> </div>

<nav>
    <a routerLink="/contactus">Contact Us</a>
    <a routerLink="/team">Team</a>
    <a routerLink="/about">About</a>
    <div class="dropdown">
      <button class="dropbutton">Login</button>
    <div class="dropdown-content">
        <a routerLink="/loginuniversity">Login University</a>
        <a routerLink="/logincreator">Login Creator</a>
        <a routerLink="/loginstudent">Login Student</a>
      </div>
      </div>
      <a routerLink="/home">Home</a>
</nav>
</div>
