<!----main section starts(student registration)-->
<form>
    <div class="main">
    <h1>Enrollement Form</h1>
    <div class="add-item">
    PR-Number: <input type="text" id="PR-Number" name="PR-Number"><br><br>
    
    First-name: <input type="text" name="FName">  Second-Name:<input type="text" name="SName">   Surname:<input type="text" name="Surname">
    <br><br>
    
    College-Name: <input type="text" name="college-name">   Branch: <input type="text" name="branch" > Year of admission: <input type="date"><br><br>
    
    Email-Id: <input type="text" name="email"> <br><br>
    
    Mobile-Number: <input type="text" name="number">
    </div>
    </div>
    <div>
    <input type="button" value="reset" set id="reset">
    <input type="submit" value="submit" set id="submit">
    </div>
    </form>