

 <div class="createc">
 <div class="title1"><p><strong> CERTIFICATE</strong></p><br></div>

 <div class="errol">

 <form>
  <label for="sname">STUDENT NAME</label>&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" id="sname" name="sname"><br><br>
  <label for="prno">PR NO</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" id="prno" name="prno"><br><br>
  <label for="coll">COLLEGE</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" id="coll" name="coll"><br><br>
  <label for="sno">SEAT NUMBER</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" id="sno" name="sno"><br><br>
  <label for="yop">YEAR OF PASSING</label>&nbsp;
  <input type="text" id="yop" name="yop"><br><br>
  <label for="examination">EXAMINATION</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <input type="text" id="examination" name="examination"><br><br>
</form>


<div class="title2"><p><strong> MARKS OBTAINED</strong></p><br></div>

<form>
  <div class="siddhi">
    SUBJECT 1  <input type="text" id="s1" name="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUBJECT 4  <input type="text" id="s4" name=s4><br><br>
    SUBJECT 2  <input type="text" id="s1" name="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUBJECT 5  <input type="text" id="s4" name=s4><br><br>
    SUBJECT 3  <input type="text" id="s1" name="s1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SUBJECT 6  <input type="text" id="s4" name=s4><br><br>             
    </div>
  </form>
  <button class="button">CREATE CERTIFICATE</button>
</div>
</div>