<div class="title3"><p><strong>CERTIFICATE</strong>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="button">SHARE</button></p></div>

  <table class="a">
  <tr>
    <th>CERTIFICATE NAME</th>
    <th>AWARDED DATE</th> 
    <th>VIEW CERTIFICATE</th>
  </tr>
  <tr>
    <td>SEM1</td>
    <td></td> 
    <td></td>
  </tr>
  <tr>
      <td>SEM2</td>
      <td></td> 
      <td></td>
    </tr>
    <tr>
        <td>SEM3</td>
        <td></td> 
        <td></td>
      </tr>
      <tr>
          <td>SEM4</td>
          <td></td> 
          <td></td>
        </tr>
        <tr>
            <td>SEM5</td>
            <td></td> 
            <td></td>
          </tr>
          <tr>
              <td>SEM6</td>
              <td></td> 
              <td></td>
            </tr>
            <tr>
                <td>SEM7</td>
                <td></td> 
                <td></td>
              </tr>
              <tr>
                  <td>SEM8</td>
                  <td></td> 
                  <td></td>
                </tr>
</table>