

<strong><h1>TEAM</h1></strong>
<div class="row">

    <div class="column">
      <div class="card">
        <img src="../assets/sid.jpg" alt="siddhi" style="width:100%;height:250px">
        <div class="container">
          <h2>Siddhi Gangulikar</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>write some text.</p>
          <p>example@example.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/gaurav.jpg" alt="Gaurav" style="width:100%;height:250px" >
        <div class="container">
          <h2>Gaurav Salunke</h2>
          <p class="title">CEO &amp;Founder</p>
          <p>write some text.</p>
          <p>example@example.com</p>
          
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="../assets/dhruvi.jpg" alt="Dhruvi" style="width:100%;height:250px">
        <div class="container">
          <h2>Dhruvi</h2>
          <p class="title">Designer</p>
          <p>write some text.</p>
          <p>example@example.com</p>
          
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <img src="../assets/biswas.jpg" alt="Biswas" style="width:100%;height:250px">
          <div class="container">
            <h2>Biswas Tiwari</h2>
            <p class="title">Designer</p>
            <p>write some text.</p>
            <p>example@example.com</p>
          
          </div>
        </div>
      </div>


      <div class="column">
          <div class="card">
            <img src="../assets/andy.jpg" alt="Andy" style="width:100%;height:250px">
            <div class="container">
              <h2>Andy</h2>
              <p class="title">Designer</p>
              <p>write some text.</p>
              <p>example@example.com</p>
          
            </div>
          </div>
        </div>

        <div class="column">
            <div class="card">
              <img src="../assets/amogh.jpg" alt="Amogh" style="width:100%;height:250px">
              <div class="container">
                <h2>Amogh</h2>
                <p class="title">Designer</p>
                <p>write some text.</p>
                <p>example@example.com</p>
          
              </div>
            </div>
          </div>

  </div>
    
            
    
      